:root {
  --primary-color: hsl(0, 93%, 68%);
  --secondary-color: hsl(0, 36%, 70%);
  --neutral-color: hsl(0, 6%, 24%);
  --gardient-color-primary: hsl(0, 80%, 86%), hsl(0, 74%, 74%);
  --gardient-color-secondary: hsl(0, 0%, 100%), hsl(0, 100%, 98%);
}

.logo-content {
  padding: 20px;
}
.background-image {
  background-image: url(images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vw;
  max-width: 375px;
  max-height: 250px;
}
.text-content {
  font-family: "Josefin Sans", sans-serif;
}
.title {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  color: var(--primary-color);
  text-transform: uppercase;
  max-width: 300px;
  letter-spacing: 10px;
}
.title-color {
  color: var(--neutral-color);
  font-weight: 600;
}
.paragraph {
  max-width: 350px;
  color: var(--primary-color);
}
.email-content {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}

.email-input {
  display: flex;
}
.email-box {
  padding: 15px;
  width: 100%;
  max-width: 300px;
  border-radius: 28px 0px 0px 28px;
  border: 1px var(--primary-color) solid;
}
::placeholder {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
}
.submit-email {
  padding: 15px;
  border: transparent;
  border-radius: 28px;
  width: 100%;
  max-width: 70px;
  position: relative;
  left: -2%;
  background-image: linear-gradient(135deg, var(--gardient-color-primary));
}
.submit-email:hover {
  box-shadow: var(--primary-color) 1px 1px 5px 1px;
}
.error-notification {
  display: flex;

  max-width: 250px;
}
.email-error {
  margin-top: 10px;
  margin-left: 18px;
  font-size: 12px;
  color: red;
}
.icon-error {
  position: relative;
  margin-left: 35px;
  transform: translateY(-165%);
}
