:root {
  --primary-color: hsl(0, 93%, 68%);
  --secondary-color: hsl(0, 36%, 70%);
  --neutral-color: hsl(0, 6%, 24%);
  --gardient-color-primary: hsl(0, 80%, 86%), hsl(0, 74%, 74%);
  --gardient-color-secondary: hsl(0, 0%, 100%), hsl(0, 100%, 98%);
}

.logo-content {
  padding: 20px;
}
.background-image {
  background-image: url(images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vw;
  max-height: 250px;
}

.text-content {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  max-width: 350px;
  letter-spacing: 10px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.title-color {
  color: var(--neutral-color);
  font-weight: 600;
}
.paragraph {
  text-align: center;
  color: var(--primary-color);
  max-width: 350px;
  margin: 0 auto;
}
.email-content {
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
}

.email-box {
  display: flex;
  margin-left: 30px;
  margin-bottom: 5px;
}
.email-input {
  padding: 10px;
  height: 40px;
  width: 100%;
  max-width: 320px;
  border-radius: 28px 0px 0px 28px;
  transition: border 0.5s linear, height 1s;
  border: 1px var(--primary-color) solid;
}
.email-input.active {
  border: 1.5px solid red;
  height: 44px;
}
::placeholder {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  width: min-content;
}
.submit-email {
  padding: 10px;
  transition: border 0.5s linear;
  position: relative;
  outline: none;
  left: -41px;
  top: -2px;
  width: 100px;

  border-radius: 28px;
  border: transparent;
  background-image: linear-gradient(135deg, var(--gardient-color-primary));
}
.submit-email:hover {
  box-shadow: var(--primary-color) 1px 1px 5px 1px;
}

.email-error {
  margin-left: 45px;
  font-size: 12px;
  color: red;
  opacity: 0;
  transition: opacity 1s;
}
.icon-error {
  position: relative;
  width: min-content;
  height: min-content;
  margin-top: 10px;
  left: -50px;
  opacity: 0;
  transition: opacity 1s;
}
.icon-error.active {
  opacity: 1;
}
.submit-email.active {
  border: 1.8px solid red;
}
.email-error.active {
  opacity: 1;
}

@media screen and (min-width: 800px) {
  body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
      "logo bg-img"
      "text-content bg-img";
  }

  .text-content {
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    padding-top: 0px;
    margin-top: 150px;
    align-items: flex-start;
    grid-area: text-content;
  }
  .logo-image {
    margin-left: 100px;
    height: 30px;
    width: 150px;
  }
  .logo-content {
    padding: 0;
    padding-top: 50px;
    grid-area: logo;
  }

  .title {
    text-align: start;
    font-size: 70px;
  }
  .paragraph {
    text-align: start;
    font-size: 15px;
    margin: 0;
    max-width: 400px;
  }
  .background-image {
    background-image: url(images/hero-desktop.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    max-height: unset;
    grid-area: bg-img;
  }
  .email-box {
    margin-left: -5px;
  }
  .email-input {
    padding: 20px;
    outline: none;
    padding-right: 120px;
    border: var(--primary-color) 1px solid;
    transition: border 0.5s linear;
  }
  .email-input.active {
    border: 1.5px solid red;
  }
  .submit-email {
    height: 45px;
    left: -50px;
    max-width: 140px;
    outline: none;
    transition: border 0.5s linear;
  }
  .submit-email.active {
    border: 1.8px solid red;
  }
  .icon-error {
    opacity: 0;
    transition: opacity 1s;
    margin-top: 10px;
    left: -60px;
  }
  .icon-error.active {
    opacity: 1;
  }
  .email-error {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 1s;
  }
  .email-error.active {
    opacity: 1;
  }
}
